<%- include('partials/header') %>
<div class="ui text container">
  <h1 class="ui header">YelpCamp</h1>
  <p>
    "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
    praesentium voluptatum deleniti atque corrupti quos dolores et quas
    molestiis nte delectus, ut aut reiciendis voluptatibus maiores alias
    consequatur aut perferendis doloribus asperiores repellat."
  </p>
  <p>
    id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis
    dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut
    rerum necessitatibus saepe even
  </p>
</div>
<%- include('partials/footer') %>
